.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}

.card .image {
  width: 150px;
  height: 150px;
}
