.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: white;
  width: 25%;
}

.card .image {
  width: 90%;
  height: 300px;
}

.card .title{

}

.card .name{
  font-size: 30px;
}

.card .price{
  font-weight: 600;
  color: green;
  font-size: 22px;
}